Screen {
  layout: horizontal;
  padding: 1;
  background: black;
}

#log {
  width: 65%;
  height: 100%;
  border: solid green;
  padding: 1;
  background: #101010;
  color: lightgreen;
  overflow: auto;
  scrollbar-gutter: stable;
}

#log .log-line {
  margin: 0;
  padding: 0;
}

#values {
  width: 35%;
  height: 100%;
  border: solid blue;
  padding: 1;
  background: #202020;
  color: cyan;
  overflow: auto;
}

#values Static {
  height: 100%;
  overflow: auto;
}
